server:
  port: 55123
  shutdown: graceful
  compression:
    enabled: true

spring:
  application:
    name: Point Management System
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3311/point_management?useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: password
  jpa:
    show-sql: false
    generate-ddl: false
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100

logging:
  level:
    ROOT: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
